.carousel__title {
	color: var(--orange);
	background-color: var(--white);
	text-align: center;
	text-transform: uppercase;
	font-size: 18px;
	font-weight: 700;
	padding: 1rem 0 0.5rem 0;
}

.swiper-slide img {
	width: 100%;
}

.swiper-pagination {
	position: initial;
	margin: 0.5rem 0;
}

.swiper-button-prev,
.swiper-button-next {
	display: none;
}

.card {
	background: var(--white);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 10px;
	margin: 1rem;
	padding: 1rem;
}

.card__description {
	display: flex;
	justify-content: space-between;
	margin-bottom: 0.5rem;
}
.description {
	margin: 0 0.5rem;
}

.description__title {
	color: var(--orange);
	font-weight: 700;
}

.description__book__title {
	color: var(--blue);
	font-size: 18px;
	font-weight: 700;
	margin: 0.5rem 0;
}

.description__text {
	font-size: 14px;
}

.card__buttons {
	display: flex;
	justify-content: space-between;
}

.buttons {
	display: flex;
}

.anchor__buttons {
	background-color: var(--orange);
	padding: 1rem 2.2rem;
	color: var(--white);
	font-weight: 700;
	text-decoration: none;
}

.rank__image {
	margin: 0.5rem 0;
}

@media screen and (min-width: 1024px) {
	.carousel__title {
		font-size: 26px;
	}

	.swiper-pagination {
		margin: 2rem 0 3rem 0;
	}

	.swiper {
		width: 60%;
	}

	.swiper-button-prev,
	.swiper-button-next {
		display: block;
		top: 60%;
	}

	.card {
		width: 40%;
		margin: 2rem auto;
	}
}

@media screen and (min-width: 1728px) {
	.carousel__container {
		display: flex;
		align-items: center;
		margin: 0 20vw 3rem 20vh;
	}

	.swiper {
		width: 50%;
	}

	.swiper-pagination {
		margin: 1rem 0;
	}

	.card {
		width: 60%;
		margin-left: 3rem;
	}

	.description {
		margin-right: 1rem;
	}

	.description__title {
		font-size: 32px;
	}

	.description__text {
		font-size: 16px;
	}
}
